body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.main-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
}

.main-header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background-image: url('csharp-background.jpg'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero h2 {
  margin: 0;
  font-size: 2em;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.intro, .features, .code-example, .learn-more, .footer {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
}

h2 {
  color: #007bff;
}

ul {
  list-style-type: none;
  padding: 0;
}

code {
  display: block;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}

.footer {
  text-align: center;
  color: #777;
  padding: 10px 0;
}
